# /etc/systemd/system/clamscan.timer

[Unit]
Description=Scheduled ClamAV Scan

[Timer]
OnCalendar=weekly
Persistent=true
RandomizedDelaySec=3600

[Install]
WantedBy=timers.target
