[Desktop Entry]
Type=Application
Version=1.0
Name=thinkorswim
Comment=Trading platform
Path=/home/shervin/src/thinkorswim
Icon=/home/shervin/.local/share/applications/thinkorswim_logo.png
Exec=bash -c "INSTALL4J_JAVA_HOME_OVERRIDE=/usr/lib/jvm/zulu-21 $HOME/src/thinkorswim/thinkorswim"
Terminal=False
