@import url(theme/toolbar_hide_tabs.css);
@import url(theme/titlebar_buttonbox.css);
@import url(theme/sidebar.css);
@import url(theme/sidebery.css);
@import url(theme/toolbar_icons.css);

/* Prevent white new tab flash - see alternative solution in userContent */
#tabbrowser-tabpanels {
  background-color: #404040 !important;
}
#browser {
  background-color: #404040 !important;
}

/* style titlebar buttons to have no bg on hover */
.titlebar-button:hover {
  background-color: transparent !important;
}


/* URL BAR */
#urlbar-background {
  border: none !important;
  animation: none !important;
}


