[Unit]
Description=borgmatic backup
Wants=network-online.target
After=network-online.target
ConditionACPower=true

[Service]
Type=oneshot

# Lower CPU and I/O priority.
#Nice=19
#CPUSchedulingPolicy=batch
#IOSchedulingClass=best-effort
#IOSchedulingPriority=7
#IOWeight=100

Restart=no
LogRateLimitIntervalSec=0
ExecStartPre=sleep 1m
#ExecStart=systemd-inhibit --who="borgmatic" --why="Prevent interrupting scheduled backup" borgmatic --verbosity -1 --syslog-verbosity 1
ExecStart=borgmatic --verbosity -1 --log-file /var/log/borgmatic/borgmatic.log --log-file-verbosity 1
